.wrapper {
    display: flex;
    flex-direction: row;
}

.out {
    border: 3px solid #999;
}

.wrapper-input,
.wrapper-output {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 40px;
}

.wrapper-input {
    margin-right: 50px;
}

.input-block {
    padding: 10px 20px;
}

.output-block {
    padding: 10px 20px;
}

.title {
    padding-bottom: 10px;
}

.give_me_result {
    width: 200px;
    height: 60px;
    
}

