:root {
    --main-color: #ffffff;
    --second-color: #262626;
    --third-color: #288be6;
    --one-color: #006F55;
    --two-color: #00654E;
    --three-color: #005844;
    --main-bg-color: #005844;
    --second-bg-color: #C0B487;
    --trigger-color: #E5AB39;
}